@font-face {
	font-family: "PlusJakartaSansUpper";
	src: url(fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
	font-family: "PlusJakartaSansReg";
	src: url(fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
	font-family: "PlusJakartaSansMed";
	src: url(fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
	font-family: "InstrumentSansReg";
	src: url(fonts/InstrumentSans-Regular.ttf);
}

@font-face {
	font-family: "InstrumentSansMedItalic";
	src: url(fonts/InstrumentSans-MediumItalic.ttf);
}

@font-face {
	font-family: "InstrumentSansBold";
	src: url(fonts/InstrumentSans-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

img {
	user-select: none;
	-webkit-user-drag: none;
}

a {
	user-select: none;
	-webkit-user-drag: none;
}

input {
	color: rgba(62, 47, 91);
	font-family: "InstrumentSansReg";
	font-size: 1vw;
}

textarea {
	color: rgba(62, 47, 91);
	font-family: "InstrumentSansReg";
	font-size: 1vw;
}

/* Nav Menu */
nav {
	margin: 15px 0 0 15px;
	position: fixed;
	z-index: 3;
}

#navPageButton {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 3.5%;
	list-style-type: none;
}

#homeButton {
	position: relative;
	padding: 3.2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: rgba(62, 47, 91);
	box-shadow: 0.4vw 0.4vw 0.4vw rgba(62, 47, 91, .5);
}

#homeButton::after {
	content: '';
	position: absolute;
	width: 90%; 
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: url('images/navBarImage.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#homeButton:hover {
	background: linear-gradient(-95deg, rgba(227, 172, 57), transparent, rgba(179, 73, 150), transparent, rgba(227, 172, 57));
	background-size: 50vw;
	animation: homeButtonGradientAnimation 3s infinite linear;
}

@keyframes homeButtonGradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: -50vw 50%;
	}
}

.topNavButton {
	position: relative;
	padding: 1.5vw 4.8vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: rgba(62, 47, 91); 
	border-radius: 30px; 
	font-family: "InstrumentSansReg";
	font-size: 0.8vw;
}
.topNavButton::after {
	content: '';
	position: absolute;
	inset: 0;
	margin: -0.38vw;
	border-radius: 30px;
	background-image: linear-gradient(-95deg, rgba(179, 73, 150), rgba(227, 172, 57));
	z-index: -1;
}

.topNavButton:hover {
	z-index: 0;
	color: #fff;
}

.buttonConstSize {
	position: absolute;
}



/* Header */

header {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: end;
	z-index: 2;
}

#frontPageInteraction {
	position: absolute;
	min-height:	720px;
	height: 100vh;
	width: 100%;
}

#frontPageCanvas {
	height: 100%;
	width: 100%;
}

#intro {
	margin: 0 0 15px 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-family: "PlusJakartaSansUpper";
	font-size: 4vw;
	color: rgba(62, 47, 91);
}

.GradientColor {
	background: linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57), rgb(179, 73, 150));
	background-size: 50vw;
	color: transparent;
	background-clip: text;
	animation: GradientColorGradientAnimation 3s infinite linear;
}

@keyframes GradientColorGradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 50vw 50%;
	}
}



/* Three.js Body */

#bodyCanvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}



/* About */

.contentSpacing {
	margin-top: 30vw;
	margin-bottom: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middleContentSizing {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#aboutTopContent {
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 3.5%;
}

#aboutImage {
	position: relative;
	padding: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57), rgb(179, 73, 150));
	background-size: 50vw;
	box-shadow: 0.4vw 0.4vw 0.4vw rgba(62, 47, 91, .5);
	border-radius: 50%;
	animation: GradientColorGradientAnimation 2s infinite linear;
	top: 0;
	transition: top 1s;
}

#aboutImage::after {
	content: '';
	position: absolute;
	width: 90%; 
	height: 90%;
	border-radius: 50%;
	background-image: linear-gradient(0deg, rgba(179, 73, 150), #fff);
	animation: AboutImageWobble 1.5s infinite linear;
}

@keyframes AboutImageWobble {

	0% {
		transform: rotate(0deg);
	}

	12% {
		transform: rotate(0deg);
	}

	24% {
		transform: rotate(-21deg);
	}

	36% {
		transform: rotate(-21deg);
	}

	48% {
		transform: rotate(8deg);
	}

	60% {
		transform: rotate(8deg);
	}

	72% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

#aboutImageHover:hover #aboutImage {
	top: -1.5vw;
}

.sectionIntroTextLayout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.sectionHeaderText {
	padding-top: 0.1vw;
	background: linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57));
	color: transparent;
	background-clip: text;
	font-family: "PlusJakartaSansReg";
	font-size: 2.3vw;
}

.contentDivBreakpoint{
	width: 60vw;
	border-image: linear-gradient(-95deg, rgb(179, 73, 150) 0%, rgb(227, 172, 57) 100%) 1;
	border-width: 0.01vw;
	border-style: solid;
}

.sectionIntroText {
	padding-bottom: 0.6vw;
	color: rgba(62, 47, 91);
	font-family: "PlusJakartaSansMed";
	font-size: 4vw;
}

.sectionContentText {
	padding-top: 0.8vw;
	width: 50vw;
	color: rgba(62, 47, 91);
	font-family: "InstrumentSansReg";
	font-size: 1.6vw;
}



/* Experience */

#experienceTopContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.startcontentSizing {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contentDivBreakpointLonger {
	width: 80vw;
	border-image: linear-gradient(-95deg, rgb(179, 73, 150) 0%, rgb(227, 172, 57) 100%) 1;
	border-width: 0.01vw;
	border-style: solid;
}

.alignBottomContent {
	margin-top: 3vw;
	margin-bottom: 3vw;
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

#experienceSliderArea {
	margin-right: 4vw;
	width: 3.3vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: linear-gradient(white, white) padding-box, linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57)) border-box;
	border-radius: 30px;
	border: 0.5vw solid transparent;
}

#experienceSliderAnimation {
	position: sticky;
	top: 10vw;
	margin-top: 1vw;
	padding: 1vw;
	background: radial-gradient( circle at 50% 0, rgb(255 255 255 / 50%), rgb(255 255 255 / 0%) 70.71% ), radial-gradient( circle at 6.7% 75%, rgb(179 73 150 / 50%), rgb(179 73 150 / 0%) 70.71% ), radial-gradient( circle at 93.3% 75%, rgb(227 172 57 / 50%), rgb(227 172 57 / 0%) 70.71% ) beige;
	border-radius: 50%;
}

#experienceBottomContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.experienceFlexItem {
	margin-top: 4vw;
	margin-bottom: 4vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.experienceFlexImage {
	width: 10vw;
	padding: 1vw;
	background: #fff;
	border-color: rgba(62, 47, 91);
	border-width: 0.6vw;
	border-style: solid;
	border-radius: 50%;
}

.experienceFlexItemContent {
	padding-left: 4vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(62, 47, 91);
	font-family: "InstrumentSansBold";
	font-size: 1.6vw;
}

.experienceFlexItemDatesContent {
	font-family: "InstrumentSansMedItalic";
	font-size: 1.4vw;
}

.experimentFlexDetails {
	padding-top: 0.4vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-family: "InstrumentSansReg";
	font-size: 1.4vw;
}



/* Skills */

#skillsBottomContent {
	width: 68vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skillsSoftwareRow {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 3.5%;
	background: #fff;
}

.skillsDesignSoftwareRow {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}
.skillsSoftwareItemSizing {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(white, white) padding-box, linear-gradient(-95deg, rgba(62, 47, 91), rgba(62, 47, 91)) border-box;
	border-radius: 30px;
	border: 0.6vw solid transparent;
	transition: all .2s;
}

.skillsSoftwareItemSizing:hover {
	background: linear-gradient(rgba(62, 47, 91), rgba(62, 47, 91)) padding-box, linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57)) border-box;
}

.skillsSoftwareItemSizing:hover .skillsSoftwareImage { 
	opacity: 20%; 
}

.skillsSoftwareItemSizing:hover .skillsSoftwareText { 
	visibility: visible;
}

.skillsWebSoftwareItem	{
	padding: 1.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skillsSoftwareImage {
	padding: 0.1vw;
	width: 4vw;
	opacity: 100%;
	transition: all .2s;
}

.skillsSoftwareText {
	position: absolute;
	visibility: collapse;
	color: #fff;
	font-family: "InstrumentSansBold";
	font-size: 0.9vw;
	transition: all;
}

/* Projects */



/* Contacts */

.alignBottomContentColumn {
	margin-top: 3vw;
	margin-bottom: 3vw;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

#contactsContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contactsLabelRow {
	padding: 1vw 0;
}

.contactsLabelFont {
	padding-bottom: 0.8vw;
	color: rgba(62, 47, 91);
	font-family: "PlusJakartaSansReg";
	font-size: 1.6vw;
}
.contactFormPadding {
	padding-top: 0.8vw;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contactFormInput {
	width: 30vw;
	padding: 0.8vw;
	border-radius: 10px;
	border: 0.2vw solid rgba(62, 47, 91); 
	box-shadow: inset 0 0 0.4vw 0.1vw rgba(255, 255, 255);
	transition: all 2s;
}

.contactFormInput:not(:focus):not(:placeholder-shown):invalid {
	box-shadow: inset 0 0 0.2vw 0.1vw rgba(179, 73, 150), inset 0 0 0.2vw 0.1vw rgba(227, 172, 57);
}

.contactFormInput:not(:focus):not(:placeholder-shown):invalid ~ .contactFormInput_NoEmailValueError {
	visibility: visible;
}

.contactFormInput:focus {
	box-shadow: inset 0 0 0.2vw 0.1vw rgba(179, 73, 150), inset 0 0 0.2vw 0.1vw rgba(227, 172, 57);
}

::placeholder {
	color: rgba(62, 47, 91);
	font-family: "InstrumentSansReg";
	font-size: 1vw;
	opacity: 50%;
}

.contactFormInput_NoNameValueError,	.contactFormInput_NoEmailValueError {
	visibility: hidden;
	color: red;
	font-family: "InstrumentSansReg";
	font-size: 1vw;
}

.contactFormTextarea {
	resize: none;
	padding-bottom: 5vw;
	width: 40vw;
}

.contactsFormButtons {
	cursor: pointer;
	padding: 1vw 2.5vw;
	border-radius: 10px;
	color: rgba(62, 47, 91);
	background-color: transparent;
	background: none;
	border: 0.2vw solid;
	border-image: 0.2vw rgba(62, 47, 91);
	font-family: "InstrumentSansReg";
	font-size: 1vw;
	transition: all .2s;
}

.contactsFormButtons:hover {
	color: #fff;
	background: linear-gradient(-95deg, rgb(179, 73, 150), rgb(227, 172, 57));
	font-family: "InstrumentSansReg";
	font-size: 1vw;
}

#contactsButtonsContent {
	padding: 5vw 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	column-gap: 2%;
}

.contactsImage {
	opacity: 100%;
	width: 3.5vw;
	transition: all .2s;
}

.contactsImage:hover {
	opacity: 50%;
}